<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/products/list">Back</a>
    <h1>Add</h1>
    <form method="post" action="/products/add">
        <input type="tex" name="nameProduct">
        <input type="text" name="image">
        <input type="text" name="price">
        <select name="idCategory">
            {listCategory}
        </select>
        <button>Submit</button>
    </form>
</body>
</html>