<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/index.css">
</head>
<body>
    <a href="/products/add">Add Product</a>
    <img src="/style/logo.png" alt="">
    <h1>Home</h1>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Image</td>
            <td>Category</td>
            <td colspan="2">Action</td>
        </tr>
        {list}
    </table>
</body>
</html>